body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.login-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.login-container h2 {
    margin-bottom: 20px;
}

.login-container form {
    display: flex;
    flex-direction: column;
}

input[type="email"],
input[type="password"],
input[type="submit"] {
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.user-type {
    margin-bottom: 10px;
}

input[type="radio"] {
    margin-right: 5px;
}

input[type="submit"] {
    background-color: #30394e;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #575e7a;
}

label {
    margin-right: 10px;
}
