.container {
    padding: 3% 15% 5% 10%;
    margin: 0 13% 0 10%; /* Adjusted the top and bottom margins to 0 */
    font-size: large;
    background-color: rgba(255, 255, 255, 0.8);
}

.consultationText {
    padding: 1% 7% 5% 1%;
}

button {
    text-align: center;
    background-color: #050c3d;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100px;
    padding: 12px 1px;
    margin-left: 10px;
    margin-top: 20px;
}

body {
    margin: 0; 
    padding: 0; 
    justify-content: center;
    align-items: center;
    background-image: url(img/background.jpg);
    background-size: cover;
    background-position: center;
    background-color: #fff;
    background-repeat: no-repeat;
}

