@import url("https://fonts.googleapis.com/css?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    display: flex;
    flex-direction: column; /* Align main along the column */
    justify-content: flex-start; /* Align to the start of the viewport */
    min-height: 100vh;
    background: url(img/background.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0; /* Remove default margin */
}

.main{
    flex: 1; /* Allows main to expand and fill the available space */
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.3), rgba(0,0,0,0.3));
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column; /* New addition */
    
   
}

.navbar {
    width: 100%;
    height: 75px;
    margin: 0;
    background-color: #bdbec0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; /* Adjust the height as needed */
}

.icon {
    width: auto; /* Adjusted to allow content to determine width */
    float: left;
    height: 200%;
    text-align: center;
}

.logo {
    max-width: 100%; /* Ensure logo doesn't exceed container width */
    max-height: 100%; /* Ensure logo doesn't exceed container height */
    padding-left: 20px;
    margin: 0;
}


/* Footer */

footer{
    bottom: 0;
    left: 0;
    right: 0;
    background: #a2b5c3;
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color: #fff;
    width: 100%;
    margin-top: auto;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3{
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
    border: 1.1px solid white;
    padding: 5px;
    border-radius: 50%;
}
.socials a i{
    font-size: 1.1rem;
    width: 20px;
    transition: color .4s ease;
}
.socials a:hover i{
    color: aqua;
}

.footer-bottom p{
    float: left;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
 }
 .footer-bottom p a{
   color:#44bae8;
   font-size: 16px;
   text-decoration: none;
 }
 .footer-bottom span{
     text-transform: uppercase;
     opacity: .4;
     font-weight: 200;
 }
 
 /**************Update and Addition page **************/

 .AdditionUpdate h2 {
    text-align: center;
}

 .AdditionUpdate{ /*almost Same as signup form*/
    max-width: 500px;
    margin: 2rem auto; /* This adds space above and below the signup box */
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
 }

 .AdditionUpdate input[type="submit"] {
    text-align: center;
    font-size: 110%;
    background-color: #30394e;
    color: white;
    cursor: pointer;
    border: none;
    padding: 1.8%; /* Adjust padding as needed */
    border-radius: 4px; 
}

.AdditionUpdate input[type="submit"]:hover {
    background-color: #575e7a;
}

.AdditionUpdate label {
    font-weight: bold;
}
